<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/test/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/65cde144bd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>TESTING PAGE | Trainers' Corner</title>
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="left">LOGO</div>
            <div class="center">
                <div class="search-bar">
                    <div class="glass"><i class="fa-solid fa-magnifying-glass"></i></div>
                    <div class="text"><input type="text" placeholder="Begin your search..."></div>
                </div>
                <div class="search-btn">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
            <div class="right w-full flex">
                <!-- If not logged in -->
                <div class="nav-btn login">Login</div>
                <div class="nav-btn register">Register</div> 

                <!-- If logged in -->
                <!-- <div class="nav-profile">
                    <div class="greets">Hi, <span class="username">RathGate</span> !</div>
                    <div class="pfp"><img src="assets/img/pfp.png" alt=""></div>
                </div> -->
            </div>
            <div class="right w-medium flex">
                <div class="nav-btn search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <!-- If logged in -->
                <div class="nav-btn profile"><img src="assets/img/pfp.png" alt=""></div>
                <div class="nav-btn menu"><i class="fa-solid fa-bars"></i></div>
            </div>
        </nav>
    </header>
    <main>
        <section class="topics">
            <aside class="left-part side-nav">
                <div class="btn-new-topic">+ New discussion</div>
                <div class="side-menu">
                    <div class="title">
                        <div class="menu-icon">
                            <img class="icon-pikachu" src="assets/img/icons/pikachu.png" alt="">
                        </div>
                        <span>General Menu</span>
                    </div>
                    <div class="options">
                        <div class="menu-option">
                            <div class="icon"><span class="material-symbols-outlined">
                                home
                            </span></div>
                            <span class="name">Home</span>
                        </div>
                        <div class="menu-option">
                            <div class="icon"><span class="material-symbols-outlined">
                                travel_explore
                            </span></div>
                            <span class="name">Search</span>
                        </div>
                        <div class="menu-option">
                            <div class="icon"><span class="material-symbols-outlined">topic</span></div>
                            <span class="name">My Topics</span>
                        </div>
                        <div class="menu-option">
                            <div class="icon"><span class="material-symbols-outlined">
                                forum
                            </span></div>
                            <span class="name">My Answers</span>
                        </div>
                    </div>
                </div>
                <div class="side-menu">
                    <div class="title">
                        <div class="menu-icon">
                            <img class="icon-charmander" src="assets/img/icons/charmander.png" alt="">
                        </div>
                        <span>Admin stuff</span>
                    </div>
                    <div class="options">
                        <div class="menu-option">
                            <div class="icon"><span class="material-symbols-outlined">
                                handyman
                            </span></div>
                            <span class="name">Admin panel</span>
                        </div>
                    </div>
                </div>
                <div class="side-menu">
                    <div class="title">
                        <div class="menu-icon">
                            <img class="icon-eevee" src="assets/img/icons/eevee.png" alt="">
                        </div>
                        <span>Topic Categories</span>
                    </div>
                    <div class="options">
                        <div class="menu-option all-topics active">
                            <div class="img icon"><img src="/assets/img/icons/pokeball_whit.png"></div>
                            <span class="name">All topics</span>
                        </div>
                        <div class="menu-option">
                            <div class="img icon"><img src="/assets/img/icons/pokeball_whit.png"></div>
                            <span class="name">General Discussion</span>
                        </div>
                        <div class="menu-option">
                            <div class="img icon"><img src="/assets/img/icons/pokeball_whit.png"></div>
                            <span class="name">Casual Play</span>
                        </div>
                        <div class="menu-option">
                            <div class="icon"><img src="/assets/img/icons/pokeball_whit.png"></div>
                            <span class="name">Shiny Hunt</span>
                        </div>
                    </div>
                </div>
            </aside>
            <div class="center-part main-content">
                <div class="filter-container">

                </div>
                <div class="topic-container">
<div class="topic-item">
    <div class="ti-score 
                        
                        ">
        <i class="fa-solid fa-arrow-up"></i>
        <span>0</span>
        <i class="fa-solid fa-arrow-down"></i>
    </div>
    <div class="ti-content">
        <div class="ti-title">Exploring Competitive Pokémon Battling: Tournaments, Metagames, and Strategies</div>
        <div class="ti-tag-container">
            <div class="ti-tag-item category">Pokémon Strategy</div>

        </div>
        <div class="ti-body">Ruby Minun Minccino Croagunk Drifblim Swalot Leafeon. Teleport Miltank Remoraid Croagunk
            Lombre Purrloin Pinsir. Venusaur Rock Deino Grumpig Lopunny Darmanitan Absol. Johto Tynamo Lickilicky Seadra
            Octillery Timburr Krokorok. Glitch City Pokemon Gardevoir I wanna be the very best Mantyke Magikarp used
            Splash Ciccino.</div>
        <div class="ti-footer">
            <div class="left">
                <div class="ti-profile">

                    <div class="pfp"><img src="https://picsum.photos/seed/SleepyRiolu/200" alt="User profile picture">
                    </div>
                    <div class="username"><span class="faded">Posted by </span><a class="bold">SleepyRiolu</a></div>

                </div>
                <div class="ti-time faded">11d ago</div>
            </div>
            <div class="right">
                <div class="answers faded"><i class="fa-regular fa-comments"></i>0</div>
            </div>
        </div>
    </div>
    <div></div>
</div>
                </div>
            </div>
            <div class="right-part ads">
                <div class="top-users-container">
                    <div class="title">
                        <img src="assets/img/icons/star.png" alt="">
                        <span>TOP TRAINERS</span>
                        <img src="assets/img/icons/star.png" alt="">
                    </div>
                    <div class="trainer-container">
                        <div class="trainer-item">
                            <div class="pfp"><img src="assets/img/pfp.png" alt=""></div>
                            <div class="username">RathGate</div>
                            <div class="score"><span class="g-icon material-symbols-outlined">
                                forum
                            </span>35</div>
                        </div>
                        <div class="trainer-item">
                            <div class="pfp"><img src="assets/img/pfp.png" alt=""></div>
                            <div class="username">RathGate</div>
                            <div class="score"><span class="g-icon material-symbols-outlined">
                                forum
                            </span>35</div>
                        </div>
                        <div class="trainer-item">
                            <div class="pfp"><img src="assets/img/pfp.png" alt=""></div>
                            <div class="username">RathGate</div>
                            <div class="score"><span class="g-icon material-symbols-outlined">
                                forum
                            </span>35</div>
                        </div>
                        <div class="trainer-item">
                            <div class="pfp"><img src="assets/img/pfp.png" alt=""></div>
                            <div class="username">RathGate</div>
                            <div class="score"><span class="g-icon material-symbols-outlined">
                                    forum
                                </span>35</div>
                        </div>
                        <div class="trainer-item">
                            <div class="pfp"><img src="assets/img/pfp.png" alt=""></div>
                            <div class="username">RathGate</div>
                            <div class="score"><span class="g-icon material-symbols-outlined">
                                    forum
                                </span>35</div>
                        </div>
                        <div class="trainer-item you">
                            <div class="pfp"><img src="assets/img/pfp.png" alt=""></div>
                            <div class="username">You</div>
                            <div class="position">(15)</div>
                            <div class="score"><span class="g-icon material-symbols-outlined">forum</span>35</div>
                        </div>
                    </div>
                </div>
                <div class="ad lit">
                    <img src="assets/img/lit.png" alt="">
                </div>
            </div>
        </section>
    </main>
</body>
</html>