.menu-ctn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.menu-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
    list-style: none;
    border-radius: 8px;
    padding: 16px;
    margin-left: 10vw;
    margin-top: 0;
}

.menu-item > div {
    display: flex;
    align-content: center;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    padding:  8px 16px;
    border-radius: 16px;
}

.menu-cat-title label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu-cat-title * {
    cursor: pointer;
}

.menu-item > div:hover {
    color: #796fff;
    transition: all .3s ease;
    background-color: #26254f
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 44px;
    padding:  8px 16px;
    border-radius: 16px;
    background: linear-gradient(to right, #5d36e8, #b369ff);
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.cat-icon {
    width: 16px;
    height: 16px;
}

.menu-cat-title:hover .cat-icon {
    content: url('/assets/img/cat_logo_purple.svg');
}