/* Registration and login containers */
.register-ctn,
.login-ctn {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Animation for registration and login containers */
.register-ctn.show,
.login-ctn.show {
    opacity: 1;
    transform: translateY(0);
}

/* Registration and login forms */
.register-ctn .register-form,
.login-ctn .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    max-width: 600px;
    padding: 60px 20px 50px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(32px) saturate(180%);
    background-color: rgba(24, 17, 40, 0.8);
    border: solid rgba(34, 50, 82, 0.8) 1px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Buttons related to the forms */
.creds-btn {
    margin: 20px;
    padding: 8px 16px;
    width: fit-content;
    border: none;
    border-radius: 16px;
    background: var(--purple-gradient);
    color: white;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Close button */
.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    transition: color .20s ease, background-color .20s ease;
}

.close-btn i {
    position: relative;
    top: 1px;
    font-size: 20px;
}

.close-btn:hover {
    background-color: #ececec;
    color: #131313;
}

/* Input fields */
/* .input-field {
    position: relative;
} */

/* .input-field label {
    position: absolute;
    top: -20px;
    left: 0;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: bold;
} */

.input-field input {
    width: 100%;
    padding: 0 0 5px 0;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-bottom: solid var(--color-fg) 1px;
    background: transparent;
    outline: none;
    transition: border-color 0.2s ease;
    color: white;
}

.input-field input::placeholder {
    font-size: 13px;
    font-family: "Noto Sans", sans-serif;
}

.input-field input:focus,
.input-field input:hover {
    border-color: #c489ff9f;
}

/* Error messages */
.error {
    display: none;
    padding: 3px 0 0 0;
    font-size: 12px;
    color: rgb(255, 54, 54);
    font-weight: bold;
    overflow-wrap: break-word;
}

.error.visible {
    display: block;
}

.input-field label {
    font-size: 11px;
    font-weight: initial;
    opacity: 1;
}

.register-ctn .title,
.login-ctn .title {
    color: white;
    font-size: 28px;
}

.register-ctn .content,
.login-ctn .content {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.register-ctn .input-field,
.login-ctn .input-field {
    width: 100%;
}

.register-terms {
    margin-top: 15px;
    display: flex;
    gap: 5px;
    align-items: flex-start;
}


.register-terms label {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



/* Create a custom checkbox */
.checkmark {
    margin-top: 3px;
    flex-shrink: 0;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    position: relative;
}

/* On mouse-over, add a grey background color */
.register-terms:hover input~.checkmark {
    background-color: rgba(255, 255, 255, .05);
}

/* When the checkbox is checked, add a blue background */
.register-terms input:checked~.checkmark {
    border-color: rgba(255, 255, 255, 0.5);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.register-terms input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.register-terms .checkmark:after {
    left: 4px;
    top: 0px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.register-ctn .text {
    font-size: 12px;
}

