header {
    position: fixed;
    height: 75px;
    width: 100%;
    z-index: 50;
    transition: height .2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    background-color: var(--color-bg);
}

/* ?VERTICAL NAV */
.nav-bar {
    position: relative;
    height: 100%;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.nav-bar form {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.nav-bar .right {
    justify-content: flex-end;
}
.nav-bar .right.w-full {
    gap: 20px;
}
.nav-bar .right.w-medium {
    gap: 20px;
}

.w-full.flex {
    display: flex;
}
.w-medium {
    display: none;
}

.search-bar {
    max-width: 450px;
    min-width: 300px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 13px;
    gap: 7px;
    background-color: rgba(255, 255, 255, .05);
    border-radius: 15px;
}
.search-bar .glass {
    color: white;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.quick-search-btn {
    height: 40px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, var(--color-light-purple), var(--color-lighter-purple));
    border-radius: 15px;
    cursor: pointer;
}
.search-bar input, .search-bar .text {
    width: 100%;
}
.search-bar input {
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    font-family: "Noto Sans", sans-serif;
}

.nav-btn {
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 12px;
    border-radius: 15px;
    cursor: pointer;
}

.nav-btn.register {
    background: linear-gradient(45deg, var(--color-light-purple), var(--color-lighter-purple));;
    font-weight: bold;
}
.nav-btn.login, .nav-btn.search {
    height: 36px;
    position: relative;
    top: 2px;
    background-color: var(--color-bg);
}
.nav-btn.login::before, .nav-btn.search::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -2px;
    height: 40px;
    width: calc(100% + 4px);
    background: linear-gradient(45deg, var(--color-light-purple), var(--color-lighter-purple));
    z-index: -1;
    border-radius: 15px;
}

.nav-profile {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 40px;
    padding: 0 3px 0 15px;
    border-radius: 15px;
    transition: background-color .15s ease;
    cursor: pointer;
}

.nav-profile:hover {
    background-color: rgba(255, 255, 255, .05);
}

.nav-profile .pfp {
    height: 34px;
    width: 34px;
    border-radius: 15px;
    overflow: hidden;
}
.nav-profile img {
    max-height: 100%;
    max-width: 100%;
}

.nav-profile .username {
    font-weight: bold;
    color: #e63c3c;
}

.nav-bar .right.w-medium .nav-btn:not(.search) {
    height: 40px;
    width: 40px;
    border-radius: 15px;
    overflow: hidden;
    padding: 0;
    justify-content: center;
}

.nav-btn.menu {
    font-size: 28px;
    width: fit-content !important;
}

.nav-bar .right img {
    max-height: 100%;
    display: block;
}
.nav-btn.search {
    display: none;
}


@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 992px) {

    .w-full {
        display: none !important;
    }
    .w-medium.flex {
        display: flex;
    }

}
@media screen and (max-width: 768px) {
    .nav-bar .center {
        display: none !important;
    }
    .nav-bar {
        display: flex;
        justify-content: space-between;
    }
    .nav-btn.search {
        display: flex;
    }
}
@media screen and (max-width: 576px) {
    
}
@media screen and (max-width: 350px) {
    
}

.mobile-menu {
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 350px;
    border: 1px solid cyan;
    padding: 0 25px 10px 20px;
    top: 0;
    left: 100%;
    background-color: var(--color-bg);
    z-index: 50;
    display: grid;
    grid-template-rows: auto 1fr auto;
    transition: transform .2s ease;
}
.mobile-menu.visible {
    transform: translateX(-100%);
}

.mobile-menu .side-menu {
    overflow: unset;
}

.mobile-menu .header , .mobile-menu .footer{
    height: 50px;
}
.mobile-menu .kill-me {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    overflow-x: hidden;
}
.mobile-menu .footer {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.no-scroll {
    overflow: hidden !important;
}