@import url(cat_nav.css);
@import url(forms.css);
@import url(nav_bar.css);

* {
    box-sizing: border-box;
}
:root {
    --color-bg: #1f1f1f;
    --color-bg-light: #2e2e2e;
    --color-bg-dark: #1a1a1a;
    --color-fg: #5d36e8;
    --color-fg-light: #b369ff;
    --color-fg-dark: #2e1a7a;
    --color-fg-darker: #1f1f1f;
}
html, body {
    height: 100vh;
    width: 100%;
    margin: 0;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background: linear-gradient(to right, #11192a, #26254f);
    color: white;
    font-family: "Noto Sans", sans-serif;
}

.shrink {
    transition: all .2s ease-in-out
}

.shrink:hover {
    transform: scale(0.9)
}

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.1);
}