.topic-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.topic-item {
    background-color: rgba(255, 255, 255, .03);
    border-radius: 15px;
    padding: 25px 25px 25px 5px;
    display: flex;
}
.topic-item .karma {
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topics.middle {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

.topics-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ti-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.ti-score {
    width: 75px;
}

.ti-score>* {
    opacity: .5;
}

.ti-score.positive.voted span,
.ti-score.positive.voted .fa-arrow-up {
    color: rgb(0, 232, 104);
    opacity: 1;
}

.ti-score.negative.voted span,
.ti-score.negative.voted .fa-arrow-down {
    color: rgb(255, 66, 110);
    opacity: 1;
}

.ti-score .fa-solid:hover {
    opacity: 1 !important;
}

.ti-score i {
    font-size: 20px;
    transition: opacity .15s ease;
    cursor: pointer;
}

.ti-score span {
    margin: 3px 0;
    font-weight: bold;
    position: relative;
    top: -1px;
}

.ti-title {
    font-size: 20px;
    line-height: 1.60rem;
    max-height: 3.2rem;
    height: fit-content;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    width: 100%;
    display: inline-block;
    display: -webkit-box;
    overflow: hidden;
    margin-bottom: 3px;
}

.ti-tag-container {
    margin-top: 3px;
    display: flex;
    gap: 5px;
}

.ti-tag-item {
    font-size: 12px;
    text-transform: uppercase;
    padding: 0 5px;
    border-radius: 3px;
    background: var(--purple-gradient);
    font-weight: bold;
    letter-spacing: 1px;
}

.ti-tag-item.category {
    background-color: rgb(74, 164, 199);
}

.ti-body {
    font-size: 15px;
    margin: 13px 0 35px;
    line-height: 1.3rem;
    max-height: 7.8rem;
    height: fit-content;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    width: 100%;
    display: inline-block;
    display: -webkit-box;
    overflow: hidden;
}

.ti-footer::before {
    width: 100%;
    height: 1px;
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    background-color: gray;
    opacity: .5;
}

.ti-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    position: relative;
}

.ti-footer .left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.ti-profile {
    display: flex;
    gap: 7px;
    align-items: center;
    font-size: 13px;
}

.ti-profile .pfp {
    width: 25px;
    border-radius: 15px;
    overflow: hidden;
}

.pfp.unknown {
    background-color: gray;
}

img {
    display: block;
    max-width: 100%;
}

a.bold {
    color: blueviolet;
}

.bold {
    font-weight: bold;
}

.ti-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ti-footer .answers {
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 5px;
    font-weight: bold;
    transition: .15s ease;
}

.ti-footer i {
    font-size: 16px;
}

.faded {
    opacity: 75%;
}

.answers.faded:hover {
    opacity: 1;
}

.select-wrap {
    position: relative;
    width: fit-content;
}

select {
    background: rgba(255, 255, 255, .03);
    color: rgba(255, 255, 255, 0.8);
    font-family: "Noto Sans", sans-serif;
    padding: 15px 20px;
    outline: none;
    border: none;
    border-radius: 30px;
    font-size: 12px;
    min-width: 150px;
}

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}

/* For IE10 */
select::-ms-expand {
    display: none;
}

.select-icon {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0;
    right: 20px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
}

.filters-ctn {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}