{{ define "body" }}
    {{ template "header" .User }}
    <main>
        <section class="topics">
            {{ template "column_nav" . }}
            <div class="center-part main-content">
                <div class="filters-ctn">
                    <div class="select-wrap">
                        <select name="order" id="order" class="filter">
                            <option value="score" {{ if eq .Filters.OrderBy "score" }}selected{{end}}>Score</option>
                            <option value="newest" {{ if eq .Filters.OrderBy "newest" }}selected{{end}}>Newest first</option>
                            <option value="oldest" {{ if eq .Filters.OrderBy "oldest" }}selected{{end}}>Oldest first</option>
                        </select>
                        <div class="select-icon"><i class="fa-solid fa-chevron-down"></i></div>
                    </div>
                    <div class="select-wrap">
                        <select name="date" id="date" class="filter">
                            <option {{ if eq .Filters.TimePeriod 1}}selected{{end}} value="1">Last 24h</option>
                            <option value="7" {{ if eq .Filters.TimePeriod 7}}selected{{end}}>Last 7 days</option>
                            <option value="15" {{ if eq .Filters.TimePeriod 15}}selected{{end}}>Last 15 days</option>
                            <option value="30" {{ if eq .Filters.TimePeriod 30}}selected{{end}}>Last 30 days</option>
                            <option value="all" {{ if eq .Filters.TimePeriod -1}}selected{{end}}>All time</option>
                        </select>
                        <div class="select-icon"><i class="fa-solid fa-chevron-down"></i></div>
                    </div>
                
                </div>
                <div id="test">
                    {{ template "topic_list" . }}
                </div>
            </div>
            {{ template "column_ads" .User }}
        </section>
    </main>
    {{ template "footer" }}
    <script src="/assets/js/topics.js"></script>
{{ end }}