{{define "categories"}}

    <div class="menu-ctn">
    <ul class="menu-items">
        <div class="menu-btn shrink">New Discussion</div>
        <li class="menu-item">
            <div class="menu-cat-title grow"> 
                <input type="radio" name="category" class="filter hidden" id="category-0" value="all">
                <label for="category-0">
                    <img src="/assets/img/cat_logo_white.svg" class="cat-icon">
                    All categories
                </label>
            </div>
        </li>
    {{range .Categories}}
        <li class="menu-item">
            <div class="menu-cat-title grow">
                <input type="radio" name="category" class="filter hidden" id="category-{{.ID}}" value="{{.ID}}">
                <label for="category-{{.ID}}">
                    <img src="/assets/img/cat_logo_white.svg" class="cat-icon">
                    {{.Name}}
                </label>
            </div>
        </li>
    {{end}}
    </ul>
    </div>
{{end}}
