{{ define "column_ads" }}
    <div class="right-part ads">
        <div class="top-users-container">
            <div class="title">
                <img src="/assets/img/icons/star.png" alt="">
                <span>TOP TRAINERS</span>
                <img src="/assets/img/icons/star.png" alt="">
            </div>
            <div class="trainer-container">
                {{ range .TopTrainers }}
                    {{ if and (le .Position 5) (ne .Position 0) }}
                    <div class="trainer-item">
                        <div class="pfp"><img src="/assets/img/pfp.png" alt=""></div>
                        <div class="username">{{.Username}}</div>
                        <div class="score"><span class="g-icon material-symbols-outlined">forum</span>{{.PostCount}}</div>
                    </div>
                    {{ end }}
                {{ end }}
                {{ $sixth := index .TopTrainers 5}}
                {{ if and (gt $sixth.Position 5) (eq .User.ID $sixth.UserID) }}
                <div class="trainer-item you">
                    <div class="pfp"><img src="/assets/img/pfp.png" alt=""></div>
                    <div class="username">{{$sixth.Username}}</div>
                    <div class="position">({{$sixth.Position}})</div>
                    <div class="score"><span class="g-icon material-symbols-outlined">forum</span>{{$sixth.PostCount}}</div>
                </div>
                {{end}}
            </div>
        </div>
        <span class="cut">. . . . . . .</span>
        <span class="ad-title">OUR FEATURED PARTNERS</span>
        <div class="ad lit">
            <img src="/assets/img/lit.png" alt="">
        </div>

        <div class="ad poketracker">
            <img src="assets/img/poketracker.svg" alt="">
        </div>
    </div>
{{ end }}