{{ define "column_nav" }}

<aside class="left-part side-nav">
    {{ if and .User.IsAuthenticated (and (ne .PageTitle "Privacy Policy") (ne .PageTitle "Forum Guidelines")) }} <a href="/topic/new"><div class="btn-new-topic">+ New discussion</div></a> {{ end }}
    <div class="side-menu">
        <div class="title">
            <div class="menu-icon">
                <img class="icon-pikachu" src="/assets/img/icons/pikachu.png" alt="">
            </div>
            <span>General Menu</span>
        </div>
        <div class="options">
            <a href="/"><div class="menu-option {{ if eq .PageTitle "Home" }}active{{end}}">
                <div class="icon"><span class="material-symbols-outlined">home</span></div>
                <span class="name">Home</span>
            </div></a>
            <a><div class="menu-option {{ if eq .PageTitle "Search" }}active{{end}}">
                <div class="icon"><span class="material-symbols-outlined">travel_explore</span></div>
                <span class="name">Search</span>
            </div></a>
            {{ if .User.IsAuthenticated }}
            <a href="/topics?me"><div class="menu-option {{ if eq .PageTitle "My Topics" }}active{{end}}">
                <div class="icon"><span class="material-symbols-outlined">topic</span></div>
                <span class="name">My Topics</span>
            </div></a>
            {{ end }}
        </div>
    </div>
    {{ if or (eq .User.RoleID 2) (eq .User.RoleID 1)}}
    <div class="side-menu">
        <div class="title">
            <div class="menu-icon">
                <img class="icon-charmander" src="/assets/img/icons/charmander.png" alt="">
            </div>
            <span>Admin stuff</span>
        </div>
        <div class="options">
            <a><div class="menu-option" {{ if eq .PageTitle "Admininistration" }}active{{end}}>
                    <div class="icon"><span class="material-symbols-outlined">handyman</span></div>
                    <span class="name">Admin panel</span>
            </div></a>
        </div>
    </div>
    {{ end }}
    <div class="side-menu">
        <div class="title">
            <div class="menu-icon">
                <img class="icon-eevee" src="/assets/img/icons/eevee.png" alt="">
            </div>
            <span>Topic Categories</span>
        </div>
        
        <div class="options">
            {{ if ne .PageTitle "Topics" }}
                <a href="/topics"><div class="menu-option all-topics">
                    <div class="img icon"><img src="/assets/img/icons/pokeball_whit.png"></div>
                    <span class="name">All topics</span>
                </div></a>
                {{range .Categories}}
                    <a href="/topics?category={{.ID}}"><div class="menu-option">
                        <div class="img icon"><img src="/assets/img/icons/pokeball_whit.png"></div>
                        <span class="name">{{ .Name }}</span>
                    </div></a>
                {{ end }}
            {{ else }}
                <a href="/topics"><div class="menu-option all-topics {{ if eq .Filters.CategoryID 0}}active{{ end }}">
                    <div class="img icon"><img src="/assets/img/icons/pokeball_whit.png"></div>
                    <span class="name">All topics</span>
                </div></a>
                {{range .Categories}}
                <a href="/topics?category={{.ID}}"><div class="menu-option {{ if eq $.Filters.CategoryID .ID}}active{{ end }}">
                    <div class="img icon"><img src="/assets/img/icons/pokeball_whit.png"></div>
                    <span class="name">{{ .Name }}</span>
                </div></a>
                {{ end }}
            {{ end }}
        </div>
    </div>
</aside>
{{ end }}
