{{ define "footer" }}
    <div class="idk">
<div class="footer-decoration"></div>
<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <img src="/assets/img/logo_lol.png" alt="">
        </div>
        <div class="footer-description">
            <p>Welcome to the Trainers' Corner ! The place where you can freely talk about your love for the Pokémon
                video-games series as well as your hate for the evil-money-grabber Game-Freak ! Discover and discuss the
                latest news, from news games to rom-hacking, everything is covered !</p>
                <p>Designed and realised by Marianne "<a href="https://github.com/RathGate">RathGate</a>" Corbel & Eva "<a href="https://github.com/evzs">evzs</a>" Chibane.</p>
        </div>
        <div class="footer-categories">
            <a href="/">
                <div class="footer-link link-underline">Home</div>
            </a>
            <a href="/privacy_policy">
                <div class="footer-link link-underline">Privacy Policy</div>
            </a>
            <a href="/terms_of_use">
                <div class="footer-link link-underline">Terms Of Use</div>
            </a>
        </div>
        <div class="copyright">(C) 2023 // Marianne Corbel & Eva Chibane</div>
    </div>
</footer>
    </div>
    
{{ end }}
