{{ define "header" }}
    <header>
        <nav>
            <div class="logo"><img src="/assets/img/logo.png"><span>TRAINER'S CORNER</span></div>
            <div class="search-ctn">
                <input type="text" placeholder="" name="search" class="search-bar">
                <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
            </div>
            <div class="nav-btns">
                {{ if not .IsAuthenticated }}
                <div class="creds-btn c-b-nav login">Log in</div>
                <div class="creds-btn c-b-nav register">Register</div>
                {{ else }}
                <div class="user">
                    <div><span class="username">{{.Username}}</span></div>
                    <div class="pfp"><img src="https://picsum.photos/seed/{{.Username}}/200" alt="pfp"></div>
                </div>
                {{ end }}
            </div>
        </nav>
    </header>
    {{ if not .IsAuthenticated }}
        <div class="hide"></div>
        {{ template "register"}}
        {{ template "login"}}
    {{ end }}
{{ end }}
