{{ define "header" }}
    <header>
        <nav class="nav-bar">
            <div class="left"><img src="/assets/img/logo_lol.png" alt=""></div>
            <div class="center">
                <div class="form">
                    <div class="search-bar">
                        <div class="glass"><i class="fa-solid fa-magnifying-glass"></i></div>
                        <div class="text"><input type="text" name="q" placeholder="Only a placeholder for now !"></div>
                    </div>
                    <label for="quick-search-submit" class="quick-search-btn">
                        
                        <i class="fa-solid fa-chevron-right"></i>
                    </label for="quick-search-submit">
                </div>
            </div>
            <div class="right w-full flex">
                {{ if not .IsAuthenticated }}
                    <div class="nav-btn login">Login</div>
                    <div class="nav-btn register">Register</div>
                {{ else }}
                    <div class="nav-profile">
                        <div class="greets">Hi, <span class="username">{{ .Username }}</span> !</div>
                        <div class="pfp"><img src="https://lorempokemon.fakerapi.it/pokemon/200/{{.Username}}" alt="User profile picture"></div>
                    </div>
                {{ end }}
            </div>
            <div class="right w-medium flex">
                <div class="nav-btn search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                {{ if .IsAuthenticated }}
                    <div class="nav-btn profile"><img src="https://lorempokemon.fakerapi.it/pokemon/200/{{.Username}}" alt=""></div>
                    
                {{ end }}
                <div class="nav-btn menu"><i class="fa-solid fa-bars"></i></div>
            </div>
            {{ if .IsAuthenticated }}
            <div class="smol-profile">
                <div class="user">
                    <div class="pfp"><img src="https://lorempokemon.fakerapi.it/pokemon/200/{{.Username}}" alt=""></div>
                    <div class="info">
                        <div class="username">{{ .Username }}</div>
                        <div class="badge-role user-role">
                            <img src="/assets/img/icons/role_{{ .RoleID}}.png" alt="">
                            <span>{{ .Role}}</span>
                        </div>
                    </div>
                </div>
                <div class="sep">
                    <div></div>
                    <div class="icon"><img src="/assets/img/icons/bullbasaur.png" alt=""></div>
                </div>
                <div class="option-ctn options-profile">
                    <a><div class="option"><span class="icon material-symbols-outlined">person</span>My Profile</div></a>
                    <a><div class="option"><span class="icon material-symbols-outlined">edit_square</span>Edit Profile</div></a>
                </div>
                <div class="sep">
                    <div></div>
                    <div class="icon"><img src="/assets/img/icons/bullbasaur.png" alt=""></div>
                </div>
                <a href="/logout"><div class="logout">
                    <div class="option"><span class="icon material-symbols-outlined">logout</span> <span>LOG OUT</span>
                        </div>
                </div></a>
            </div>
            {{ end}}
        </nav>
    </header>
    {{ if not .IsAuthenticated }}
    <aside>
        <div class="hide"></div>
        {{ template "register"}}
        {{ template "login"}}
    </aside>
    
    {{ end }}
{{ end }}