{{define "login"}}
<div class="login-ctn" style="display: none">
<form action="/login" method="POST" class="login-form">
    <div class="close-btn"><img src="assets/img/close.png"></div>
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>
</div>
{{end}}