{{ define "navbar" }}
<header>
    <nav>
        <div class="logo"><img src="/assets/img/logo.png"><span>TRAINER'S CORNER</span></div>
        <div class="search-ctn">
            <input type="text" placeholder="" name="search" class="search-bar">
            <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
        </div>
        <div class="nav-btns">
            <div class="creds-btn c-b-nav login">Log in</div>
            <div class="creds-btn c-b-nav register">Register</div>
        </div>
    </nav>
</header>
{{ end }}
