{{define "login"}}
    <div class="login-ctn">
        <form id="login-form" method="post" class="login-form">
            <div class="title">Sign In !</div>
            <div class="content">
                <div class="close-btn">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="input-field">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Enter Username" value="ennaria" required>
                </div>
                <div class="input-field">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter Password" value="1A2bcdefg_" required>
                </div>
                <div class="error-msg"></div>
                <button type="submit" class="creds-btn">Log in</button>
                </div>
        </form>
    </div>
{{end}}
