{{define "register"}}
<div class="register-ctn">
    <!-- REGISTER FORM -->
    <form id="register-form" method="post" class="register-form">
        <div class="title">Welcome To The Trainer's Corner!
            Join us! </div>
        <div class="content">
            <!-- USERNAME -->
            <div class="close-btn">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="input-field">
                <label for="username">Username</label>
                <input type="text" class="username input" name="username" placeholder="Enter Username" maxlength="20"
                    oninput="return usernameValidation()">
                <div id="usernameError" class="error"></div>
            </div>
            <!-- EMAIL -->
            <div class="input-field">
                <label for="email">Email</label>
                <input type="email" class="email input" name="email" placeholder="Enter Email" maxlength="255"
                    oninput="return emailValidation()">
                <div id="emailError" class="error"></div>
            </div>
            <!-- PASSWORD -->
            <div class="input-field">
                <label for="password">Password</label>
                <input type="password" class="password input" name="password" placeholder="Enter Password" maxlength="255"
                    oninput="return passwordValidation()">
                <div id="passwordError" class="error"></div>
            </div>
            <div class="register-terms">
                <label for="tos">
                    <input id="tos" name="tos" type="checkbox" class="hidden">
                    <div class="checkmark"></div>
                    <span class="text">By creating an account, you agree to Trainers' Corner Terms of Service.</span>
                </label>
            </div>
            <button type="submit" class="creds-btn">Create an Account!</button>
        </div>
    </form>
</div>
{{end}}